body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(200,200,200,1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color:#fff;
  -webkit-box-shadow: inset 0 0 6px rgba(90,90,90,0.7);
}

/* Results Page */
.back-button {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 5;
}

.clear-calendar {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 5;
}

.app-navbar {
  height: 85px;
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 4;
  background-color: white;
}

.cal-and-list {
  padding-top: 20px;
}

/* Calendar */
.big-cal-container {
  margin-top: 70px;
  padding-right: 0;
}

.big-cal-container:hover {
  cursor: pointer;
}

.big-cal {
  padding-left: 30px;
  height: 85vh;
}

.event-modal {
  position: relative;
  top: 30%;
}

.event-modal-body {
  text-align: left;
  font-size: 17px;
}

.selectedSlot {
  background-color: black;
  opacity: 0.5;
}

/* Place list */
.place-list-view {
  height: 72.5vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.place-list-container {
  margin-top: 70px;
  padding-left: 0px;
  padding-right: 0px;
}

.place-list {
  padding-right: 15px;
}

.place-list-row {
  margin-right: 6px;
  margin-left: 6px;
}

.card-img-top {
  width: 100%;
  height: 13vw;
  object-fit: cover;
}

.card-cell {
  border: none;
  display: block;
}

.place-card:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.emptyListMessage {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.type-buttons {
  margin-bottom: 10px;
}

.tabText {
  margin-bottom: 0;
}

.listText {
  font-size: 20px;
  margin-bottom: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  word-wrap: break-word;
  border:1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-size: 17px;
}

/* Search */
.warning-text {
  padding-top: 10px;
  color: #cc0000;
}

.search-bar-container {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 60px;
}

.autocomplete-dropdown-container {
  margin: 0 auto;
  max-width: 560px;
  min-width: 334px;
  padding-left: 30px;
  padding-right: 110px;
}

.search-bar-group {
  margin: 0 auto;
  max-width: 560px;
  min-width: 334px;
  padding-left: 30px;
  padding-right: 30px;
}

.input-group > .form-control {
  height: 50px;
}

.input-group > .input-group-btn > .btn{
  height: 50px; 
  font-size: 18px;
  font-weight: 300;   
  margin-right:12px;
}

.input-group > .form-control {
  font-size: 18px;
  font-weight: 300;
}

.input-group > .form-control:focus {
  border-color: rgb(0,107,182); 
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 1px rgba(0,107,182);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 1px rgba(0,107,182);
}

.suggestion-item-active {
  font-size: 18px;
  padding: 3px;
  background-color: #f0f0f0;
  cursor: pointer; 
}

.suggestion-item {
  font-size: 18px;
  padding: 3px;
  background-color: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .place-list-container {
    margin-top: 20px;
  }
  .card-img-top {
    height: 20vw;
  }
}

@media screen and (max-width: 450px) {
  .app-navbar {
    height: 105px;
  }
  .big-cal-container {
    margin-top: 90px;
  }
  .place-list {
    padding-left: 15px;
  }
  .card-img-top {
    height: 35vw;
  }
}

.loader {
  color: #007bff;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}