<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEh5eAnR2GzTJ03JdVgFbzsjzKj3BlFg8&libraries=places"></script>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Schedplore</title>
  </head>
  <body>
    <input type="text" id="city" placeholder="Enter City">
    <button type="submit" onclick="searchCity()">Search</button>
  </body>
</html>

<style>
  #city{
    width: 30%;
  }
</style>

<script>
    function searchCity(){
        location.href = "http://localhost:3000/place/" + document.getElementById("city").value;
    }

    var options = {
      types: ['(cities)'],
      componentRestrictions: {country: "us"}
    };

    let input = document.getElementById("city");
    let autocomplete = new google.maps.places.Autocomplete(input, options);
</script>